<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Cursos - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Cadastro de Cursos</h1>
        <h4>Forneça os dados para o cadastro</h4>
    </header>
    <section>
        <form action="/novoCurso" method="post">
            Código:
            <br/>
            <input type="text" name="curso[codigo]" placeholder="Código">
            <br> Descrição:
            <br />
            <input type="text" name="curso[descricao]" placeholder="Descrição">
            <br> Carga Horária:
            <br />
            <input type="text" name="curso[ch]" placeholder="Carga Horária">
            <br> Categoria:
            <br />
            <select name="curso[categoria]">
                <option disabled value = "0" selected>Selecione</option>
                <option value="Desenvolvimento">Deselvovimento</option>
                <option value="Design">Design</option>
                <option value="MBA">MBA</option>
                <option value="Outros">Outros</option>
            </select>
            <br>
            <button type="submit">Enviar</button>
        </form>
        <br>
        <a href='./menu'>Voltar</a>
    </section>
    <footer>
        <br>
        <small>Sistema de Cadastro de Cursos</small>
    </footer>
</body>

</html>