<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de Cursos - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="floating-labels.css" rel="stylesheet">    
</head>

<body>
    <header>
        <p>Bem-vindo,
            <%- usuario.nome %>
        </p>
        <h1>Cadastro de Cursos</h1>
        <h4>Forneça os dados para o cadastro</h4>
    </header>
    <section>
        <form action="/novoCurso" method="post">
            Código:
            <br/>
            <input type="text" name="curso[codigo]" placeholder="Código" style="width: 200px;">
            <br> Descrição:
            <br />
            <input type="text" name="curso[descricao]" placeholder="Descrição" style="width: 200px;">
            <br> Carga Horária:
            <br />
            <input type="text" name="curso[ch]" placeholder="Carga Horária" style="width: 200px;">
            <br> Categoria:
            <br />
            <select name="curso[categoria]" class="form-control" style="width: 200px;">
                <option disabled value = "0" selected>Selecione</option>
                <option value="Desenvolvimento">Deselvovimento</option>
                <option value="Design">Design</option>
                <option value="MBA">MBA</option>
                <option value="Outros">Outros</option>
            </select>
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
        <br>
        <a href='./menu' class="btn btn-sm btn-primary btn-block col-md-1">Voltar</a>
    </section>
    <footer>
        <br>
        <small>Sistema de Cadastro de Cursos</small>
    </footer>
</body>

</html>